html {
    font-size:16px;
}

body{
    color:#352a25;
    font-family:Georgia, serif;
    font-size:62.5% /*1em=10px*/;
}
h1{
    font-size:3em; /* 30px is what we need. But the body font size is 10px so the ems would be 30/10 */
    font-weight:bold;
}
h1 a{
    font-size:0.46em;
    text-transform: uppercase;
    text-decoration: none;
    color: #6C564B;
}
.container{
    width:100%;
}

.nav{
    width:33.6%;
    background-color: red;
    float: left;
}

.content{
    width:65%;
    background-color: aqua;
    float: right;
}